!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title
    = stylesheet_link_tag     "normalize", "all"
    = javascript_include_tag  "all"

  %body{:class => page_classes}
    %aside.left
      .bottom
        %p.name
          Tom Dooner
        %p.title
          Software Engineer
    .right
      = yield
