---
title: Blog
hide_title: true
---

- blog.articles[0...5].each do |article|
  %article
    %h3= link_to article.data.title, article.url
    %h4= article.data.subtitle

    %time= article.date.strftime('%b %e, %Y')

    = article.summary

    %a{ href: article.url } Read More
